.resume-display{
    width: 90%;
    height: auto;
    background-color: white;
    border: 7px solid rgb(116, 114, 114);
    overflow: hidden;
}
.resumepage{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.dpers{
    display: grid;
    grid-template-columns: 20% 70%;
}
.dpers img{
    width: 220px;
    height: 250px;
    border: 3px solid rgb(100, 100, 112);
    margin: 40px 50px 30px 40px;
}
.dpers h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(22, 205, 255);
    margin: 50px 10px -30px  0px;
}
.dpers h3{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(54, 68, 72);
    margin: 10px 10px -20px  0px;
}
.dpers p{
    font-size: 15px;
    margin: 30px 50px -26px  250px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.dhead{
    height: 40px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    float: left;
    background-color: rgb(0, 137, 228);
    border: 1px solid rgb(125, 124, 124);
    color: rgb(255, 255, 255);
    border-radius: 10px 150x 2px 25px;
}
.dprof{
    margin: -20px 0px 0px 0px;
}
hr{
    background-color: rgb(0, 145, 255);
    height: 2px ;
    margin: 20px 0px 0px 0px;
    width: 100%;
}
.dobj{
    width: 90%;
    text-align: left;
    height: auto;
    margin: 10px 0px 20px 50px;
    float: left;
    font-size: 20px;
    text-align: justify;

    font-family:Georgia, 'Times New Roman', Times, serif;
}
.dexp li{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0px 0px 10px -10px;
    list-style: disc;
}
.dexps{
    width: 90%;
    text-align: justify;
    height: auto;
    margin: -10px 50px 0px 50px;
    float: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.dexps p{
    font-size: 17px;
    margin: 0px 90px 10px 10px;
    width: 90%;
    text-align: justify;
    float: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.dedu{
    width: 1000px;
    height: auto;
    margin: 0px 0px 20px 0px;
    text-align: left;
    float: left;
}
.dedus li{
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 10px 10px 10px 10px;
}
.liedu{
    margin: 10px 10px 10px 10px;
    font-size: 70px;
    font-weight: bold;
    color: black;
}
.dskl{
    height: auto;
    width: 100%;
    float: left;
}
.dskl li{
    width: 300px;
    height: 30px;
    text-align: left;
    margin: -20px 0px 0px 150px;
    font-size: 20px;
    list-style: disc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dprcs{
    width: 100%;
    text-align: left;
    height: auto;
    margin: 20px 0px 0px 70px;
    float: left;
   font-family:Georgia, 'Times New Roman', Times, serif;
}

.dprcs li{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: -25px 0px -100px -10px;
    list-style: disc;
}
.dprcs ul{
    margin: 50px 0px -100px -10px;
}
.dprcs p{
    font-size: 17px;
    margin: -20px 90px -10px 10px;
    width: 950px;
    text-align: justify;
}

.dach {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;  /* Align items at the start of the flex container */
    margin-top: 20px;  /* Adjust the top margin as needed */
}
.dachs {
    margin: 0px 50px 0px 70px;
    width: 800px;

}
.dachs li {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0 0 0px -10px;
    width: 1000px;
    height: 50px;
    list-style: disc;
    float: left;
    text-align: left;
}
.dach p{
    font-size: 17px;
    margin: 0px 90px -10px 10px;
    width: 950px;
    text-align: justify;
}

.down{
    height: 40px;
    width: auto;
    background-color: rgb(0, 255, 255);
    font-size: 20px;
    pointer-events: painted;
}