.resume-builder {
    width: 90%;
    margin: 0 auto;
}

.pers input {
    width: 400px;
    height: 30px;
    margin: 20px 20px 10px 20px;
    font-size: 15px;

    font-family: sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0px solid rgb(255, 255, 255);
    border-bottom: 1px solid #0037ff;
    text-decoration: none;
}

.resume-builder h1 {
    font-size: 20px;
    text-align: left;
    margin: 20px 0px 20px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section1 {
    margin: 10px 0px 10px 0px;
    width: 88%;
    background-color: aliceblue;
}

.fimage {
    align-items: left;
    text-align: left;
    font-size: 10px;
    margin:0px 0px -10px 40px;
    
}

.pers p {
    font-size: 15px;
    text-align: left;
    
    color: rgb(32, 32, 228);
    margin:0px 0px -10px 60px;
}

.pers {
    margin: 1px 10px 1px 10px;
    background-color: aliceblue;
    width: 96%;
    height: auto;
}

.title,.prof,.exp{
    margin: -10px 10px -10px 10px;
    background-color: aliceblue;
    
    width: 96%;
    height: auto;
}
.prof textarea{
    margin: -40px 20px 5px 50px;
}

.title label {
    text-align: left;
    height: 30px;
   
    float: left;
    font-size: 13px;
    margin: -15px 0px 0px 60px; 
}

.title input {
    width: 78%;
    height: 35px;
    font-size: 20px;
    margin: -10px 0px 15px -90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    border: 1px solid #696969; 

}


textarea {
    height: 80px;
    width: 90%;
    margin: -40px 20px 10px 15px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0px solid rgb(255, 255, 255);
    border-bottom: 1px solid #0037ff;
    resize: none;
}



.exp input {
    width: 60%;
    float: left;
    height: 35px;
    font-size: 20px;
    margin: 5px 0px 45px -30px;
   
    border: 0px solid rgb(255, 255, 255);
    border-bottom: 1px solid #0037ff;
}

.exp label {
    text-align: left;
    height: 30px;
   
    float: left;
    font-size: 13px;
    margin: -15px 0px 0px 60px; 
}

/* .exp .desc {
    float: left;
    font-size: 20px;
    margin: -40px 30px 20px 70px;
} */


height: 20px;

border: none;




.skills .del {
    width: 32px;
    font-size: 10px;
    height: 30px;
    border: 1px blue;
    margin: -3px -4px 0px 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.skhead{
    background-color: aliceblue;
    width: 96%;
    margin: 10px 10px 0px 10px;
    height: 30px;
}
.skill {

    margin: 0px 10px 0px 10px;
    background-color: aliceblue;
    width: 96%;
    height: auto;
    display: grid;
    grid-template-columns: 500px 500px;
}
.skadd{
    
    margin: 0px 10px 0px 10px;
    background-color: aliceblue;
    width: 96%;
    height: auto;
}

.edu{
    

        margin: 10px 10px 10px 10px;
        background-color: aliceblue;
        width: 96%;
        height: auto;
        

    
    
    
}


.skill input {
    width: 300px;
    height: 30px;
    margin: 20px 60px 2px -50px;
    font-size: 20px;
    border: 0px solid rgb(255, 255, 255);
    border-bottom: 1px solid #0037ff;
}

.submit {
    width: 100px;
    height: 40px;
    margin: 20px 20px 20px 20px;
    background-color: #56d8e4;
}

.education input {
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin: 15px 0px 10px 150px;
    border: 0px solid rgb(255, 255, 255);
    border-bottom: 1px solid #0037ff;
}


.edu input {
    width: 60%;
    float: left;
    height: 35px;
    font-size: 20px;
    margin: 5px 0px 45px -50px;
   
    border: 0px solid rgb(255, 255, 255);
    border-bottom: 1px solid #0037ff;
}

.edu label {
    text-align: left;
    height: 30px;
   
    float: left;
    font-size: 13px;
    margin: -15px 0px 0px 60px; 
}

.ach input {
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin: 5px 20px 5px -20px;
    border: 0px solid rgb(255, 255, 255);
    border-bottom: 1px solid #0037ff;
}

.ach label {
    float: left;
    font-size: 20px;
    margin: 0px 30px 10px 70px;
}

.ach .job {
    width: 400px;
    margin: 0px 30px 10px 5px;
}

.pro input {
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin: 0px 10px 20px -5px;
    border: 0px solid rgb(255, 255, 255);
    border-bottom: 1px solid #0037ff;
}

.pro label {
    float: left;
    font-size: 20px;
    margin: -10px 30px 10px 70px;
}



.add {
    width: 50px;
    height: 25px;
    background-color: rgb(28, 200, 28);
    margin: 0px 0px 10px 0px;
    border: none;
}

.del {
    width: 32px;
    height: 23px;
    font-size: 10px;
    border: none;
    margin: 0px -14px 0px -52px;
    background-color: rgb(255, 255, 255);
    border-bottom:1px solid rgb(0, 85, 255);
    border-left:1px solid rgb(0, 85, 255);
    color: rgb(255, 0, 0);
}

.form {
    border: 2px solid black;
    background-color: white;
    margin: 10px auto;
    width: 90%;
}
.resume-builder {
    width: 90%;
    margin: 0 auto;
}
